Node-red flow na C.H.I.P
[{"id":"70835b45.824e04","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5064bb31.abdd94","type":"influxdb out","z":"70835b45.824e04","influxdb":"67b50be2.5101b4","name":"","measurement":"tlak","precision":"","retentionPolicy":"","x":781,"y":130,"wires":[]},{"id":"67a3cf78.d7c8","type":"debug","z":"70835b45.824e04","name":"","active":true,"console":"false","complete":"false","x":730,"y":360,"wires":[]},{"id":"81771af5.543ba8","type":"function","z":"70835b45.824e04","name":"dodajem arduino tag","func":"msg.payload.machine=\"arduino\"\n//msg.payload=Math.round(Math.random()*1000)\nmsg.payload=Math.round(msg.payload)\nreturn msg","outputs":1,"noerr":0,"x":405,"y":318,"wires":[["5064bb31.abdd94","67a3cf78.d7c8"]]},{"id":"c4226fb1.f17ad","type":"serial in","z":"70835b45.824e04","name":"CHIP UART serial","serial":"79139bc6.fb21c4","x":237.5,"y":441,"wires":[["81771af5.543ba8"]]},{"id":"67b50be2.5101b4","type":"influxdb","z":"","hostname":"192.168.2.100","port":"8086","protocol":"http","database":"chip","name":"chip","usetls":false,"tls":"ec1a7d5e.6f42f"},{"id":"79139bc6.fb21c4","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"ec1a7d5e.6f42f","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true}]
